// https://yalter.github.io/niri/Configuration:-Miscellaneous

spawn-at-startup "qs" "-c" "noctalia-shell"

// prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
// screenshot-path null

environment {
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    QT_QPA_PLATFORM "wayland;xcb"
}

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 24

    hide-when-typing
    hide-after-inactive-ms 5000
}

overview {
    zoom 0.5
}

hotkey-overlay {
    skip-at-startup
}
