// https://yalter.github.io/niri/Configuration:-Miscellaneous

spawn-at-startup "qs" "-c" "noctalia-shell"

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
// screenshot-path null

hotkey-overlay {
    skip-at-startup
}

// prefer-no-csd

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 24

    hide-when-typing
    hide-after-inactive-ms 5000
}
